.sidebar {
  width: 450px;
  height: calc(100vh - 80px);
  padding: 10px;
  border-right: 3px black solid;
  box-sizing: border-box;
  background: #f4f4f4;
}

@media (max-width: 767px){
  .sidebar{
    width: 300px;
  }
}

@media (max-width: 550px){
  .sidebar{
    width: 200px;
  }
}
